.settings{
	box-shadow: 0 0 4px #33333370;
	width: 150px;
	padding: 20px;
	position: fixed;
	right: -150px;
	top: 50%;
	transform: translateY(-50%);
    border-radius: 5px;
	cursor: pointer;
	background: #fff;
	transition: 2s;
}
.settings img{
    position: absolute;
    top: -20px;
    left: -30px;
    border-radius: 50%;
    width: 30px;
    animation-name: crcle;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: all;
    transform: rotate(0);
}

@keyframes crcle{
	from{transform: rotate(0);}
	to{transform: rotate(360deg);}
}


.settings ul{
    justify-content: center;
}
.settings ul li{
    padding: 2px;
}
.settings ul li span{
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
}


.settings.move{
	right: 0;
	}


.banner img{
	height: 300px;
	object-fit: cover;
}

.container{
	position: relative;
	min-height: 600px;
	z-index: -1;
	
}

#particles-js{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}


.parallax-inner{
	min-height: 600px;
	background-repeat: no-repeat;
	background-size: cover;
}